<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>List Siswa</h1>

    <a href="/create">Add Siswa</a>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Rombel</th>
            <th>Jenis Kelamin</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="data : ${dataSiswa}">
            <td th:text="${data.id}"></td>
            <td th:text="${data.name}"></td>
            <td th:text="${data.rombel}"></td>
            <td th:text="${data.jenisKelamin}"></td>
            <td>
                <a th:href="@{'/edit/' + ${data.id}}">Edit</a>
                <a th:href="@{/delete/} + ${data.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>